			*{
				padding: 0;
				margin: 0;
			}
			div{
				display: block;
			}
			ul li{list-style: none;}
			.panel{
			    padding: 10px;
			    margin-bottom: 10px;
			    background: #fff;				
			}
			.order-info .text-label{
	    		display: inline-block;
    			width: 80px;	
    			font-size: 14px;
			}
			.order-info .text-line .text{
			    margin-left: 5px;
			    height: 30px;
			    line-height: 30px;	
			}
			.order-info .text-line a{
				margin-top: 10px;
			    margin-right: 10px;	
			    display: inline-block;
			    padding: 0 15px;
			    line-height:35px;
			    vertical-align: middle;
			    border: none;
			    background-color: #c60023;
			    font-size: 14px;
			    font-weight: 700;
			    color: #fff;
			    outline: none;
			    cursor: pointer;
			    text-decoration: none;			
			}
			.panel-title{
				padding: 10px;
			    font-size: 15px;
			    border-bottom: 1px solid #eee;
			    color: #666;
			    font-weight: 700;				
			}
			.panel-body{
				padding: 10px 0;
    			overflow: hidden;
			}
			.order-list .list-header{
			    background: #eee;
			    width: 100%;
			    border-collapse: collapse;
			    color: #666;
			    font-size: 13px;
			}
			.list-header .list-header-img{
				width: 15%;
    			padding: 10px;
			}
			.list-header .list-header-info{
				width: 25%;
			    padding: 0 10px;
			    text-align: left;
			}
			.list-header .list-header-datils{
				width: 15%;
			    text-align: center;	
			}
			.list-header .list-header-price{
			    width: 10%;
			    text-align: center;				
			}
			.list-header .list-header-count{
			    width: 10%;
			    text-align: center;					
			}
			.list-header .list-header-total{
			    width: 15%;
			    text-align: center;					
			}
			.list-header .list-header-operate{
			    width: 10%;
			    text-align: center;					
			}				
			.order-list{
				font-size: 13px;
			}
			a{text-decoration: none;}
			.list-body{
			    width: 100%;
			    border-collapse: collapse;
			    background: #fafafa;
			    margin-bottom: 35px;				
			}
			.list-body tr{
				border-bottom: 1px  solid #EEEEEE;
			}
			.order-info{
			    background:#fff;
			    padding: 10px;
			    font-size: 13px;				
			}
			.order-info .order-text{
			    margin-right: 25px;
			    color: #999;				
			}
			.order-text i{
				font-style: normal;
				font-weight: 700;
			    color: #999;				
			}
			.order-text .total{
			    font-weight: 700;
			    color: #c60023;
			    font-size: 14px;
			}
			.order-text a{
 				font-weight: 700;
 				color: #999;
 				float: right;			
			}
			.order-text a:hover{color: red;}
			.list-img{
				width:15%;
				padding: 10px;
			}
			.list-img img{
				width: 80px;
			    height: 80px;
			    border: 1px solid #ddd;
			}
			.list-info{
				width:25%;
    			padding: 0 10px;
			}
			.list-info a{
				line-height: 18px;
				color: #999;
			    text-decoration: none;
			    cursor: pointer;
			}
			.list-info a:hover{
				color: red;
			}
			.list-datils{
				width: 15%;
				color: #666;
				text-align: center;
			}
			.list-datils ul li{
				padding: 5px;
			}
			.list-price{
				width: 10%;
				color: #666;
				text-align: center;
			}
			.list-count{
				width:10%;
				color: #666;
    			text-align: center;
			}
			.list-total{
				width:15%;
   			 	text-align: center;
   			 	color: #666;
			}
			.list-operate{
				width: 10%;
				text-align: center;
				color: #666;
			}
			.list-operate a{color: #666666;}
			.list-operate a:hover{color:red;}
			.total-price .enhance{
			    font-weight: 700;
			    color: #c60023;				
			}
			.total-price{
				display: block;
			    font-size: 15px;
			    line-height: 40px;
			    height: 40px;
			    margin-top: -35px;
			    margin-right: 20px;
			    float: right;				
			}
			.get{
				margin-top: 10px;
			    margin-right: 10px;
			    margin-left: 50px;
			    display: inline-block;
			    padding: 0 15px;
			    line-height: 35px;
			    vertical-align: middle;
			    border: none;
			    background-color: #c60023;
			    font-size: 14px;
			    font-weight: 700;
			    color: #fff;
			    outline: none;
			    cursor: pointer;
			    text-decoration: none;
			}