			*{
				padding: 0;
				margin: 0;
			}
			a{text-decoration: none;}
			div{
				display: block;
			}
			.panel{
				padding: 10px;
			    margin-bottom: 10px;
			    background: #fff;				
			}
			.panel-title{
			    padding: 10px;
			    font-size: 16px;
			    border-bottom: 1px solid #eee;
			    color: #666;
			    font-weight: 700;
			}
			.panel-info{
				padding: 0 10px;
			}
			.text-line{
				margin: 10px 0;
			}
			.text-line span{
				font-size: 14px;
			    margin-right: 20px;
			    height: 25px;
			    line-height: 25px;	
			    width: 80px;			
			}
			.text-line input{
			    height: 25px;
			    line-height: 25px;
			    outline: none;
			}
			#password{
				margin-left: 14px;
			}
			#error{
				position: relative;
				margin-top: 10px;
				width: 250px;
				height: 15px;
				padding: 3px 0 3px 0;
				border: 1px solid red;
				background-color: #fde9e9;
				text-align: center;
				font-size: 14px;
				color: red;
			}
			.text-line a{
				margin: 20px 0 20px 70px;
			    height: 35px;
			    line-height: 35px;
			    font-size: 14px;
			    padding: 2px 10px;
			    display: inline-block;
			    padding: 0 20px;
			    vertical-align: middle;
			    border: none;
			    background-color: #c60023;
			    font-weight:700;
			    color: #fff;
			    outline: none;
			    cursor: pointer;
			    text-decoration: none;
			}